@font-face {
  font-family: 'LeferiPoint';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPointOblique';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPointOblique';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

:root {
  /* color set */
  --black-color: #000000;
  --text-first-color: #0b090a;
  --text-second-color: #161a1d;
  --red-first-color: #660708;
  --red-second-color: #E5383B;
  --yellow-first-color:#DC9104;/*#faa916*/
  --yellow-second-color: #FBB637;
  --blue-first-color:#002475;
  --blue-second-color:#3370FF;
  --gray-first-color: #B1A7A6;
  --gray-second-color: #D3D3D3;
  --gray-third-color:#F5F3F4;
  --white-color:#FFFFFF;

  /* font-size*/
  --font-size-01 : 48px;
  --font-size-02 : 36px;
  --font-size-03 : 24px;
  --font-size-04 : 20px;
  --font-size-05 : 16px;
  --font-size-06 : 14px;
  --font-size-07 : 12px;
}

/* basic */
article, aside, canvas, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  font-family: 'LeferiPoint', sans-serif;
}

body, button, input, select, table, textarea {
  color: var(--text-first-color);
  font-family: 'LeferiPoint', sans-serif;
  font-weight:normal;
}

button, input {
  border: 0;
  border-radius: 0
}

img {
  display: block;
  border: 0;
}

ol, ul {
  list-style: none
}

address, em {
  font-style: normal
}

a {
  color: var(--text-first-color);
  font-weight: normal;
  text-decoration: none
}

a:hover {
  text-decoration: none
}

div, p, section{
  box-sizing: border-box;
}

iframe {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px
}

/* font-weight*/
.fw-normal,
.fw-400{
  font-weight:normal;
  font-family: 'LeferiPoint';
}
.fw-bold,
.fw-600{
  font-weight:600;
  font-family:'LeferiPointOblique';
}
/* text-align */
.text-center{
  text-align: center;
}
.text-left{
  text-align:left;
}
.text-right{
  text-align:right
}


/* font-size */
.fs-title-1{
  font-family:'LeferiPointOblique';
  font-size:var(--font-size-01);
}
.fs-title-2{
  font-family:'LeferiPointOblique';
  font-size:var(--font-size-02);
}
.fs-title-3{
  font-family:'LeferiPointOblique';
  font-size:var(--font-size-03);
}
.fs-title-4{
  font-family:'LeferiPointOblique';
  font-size:var(--font-size-04);
}
.fs-title-5{
  font-family:'LeferiPointOblique';
  font-size:var(--font-size-05);
}

.fs-txt-1{
  font-size:var(--font-size-03);
}
.fs-txt-2{
  font-size:var(--font-size-04);
}
.fs-txt-3{
  font-size:var(--font-size-05);
}
.fs-txt-4{
  font-size:var(--font-size-06);
}
.fs-txt-5{
  font-size:var(--font-size-07);
}

.text-gray{
  color: var(--gray-first-color)
}
/* btn style */
.btn {
  padding: 12px 24px 11px;
  text-decoration: none;
  transition: all 0.3s;
  line-height: 1;
  display:inline-block;
  &.btn-width-180{
    min-width:180px;
  }
  &.w-100{
    width:100%;
  }
  .btn-default {
    border: 1px solid var(--black-color);
    color: #fff;
    background: var(--black-color);
    &:hover {
      opacity: 0.7;
    }
  }
  .btn.btn-default-outline {
    border: 1px solid var(--black-color);
    color: var(--black-color);
    background: #fff;
    &:hover {
      background: #fff;
      color: var(--black-color);
    }
  }
  
}


/* container */
.container{
  margin:0 auto;
  width:100%;
  max-width:1000px;
  padding:0 16px;
}



/* header */
header{
  padding:10px;
  .bi-list{
    font-size:36px;
    height:36px;
    cursor:pointer;
    line-height:1;
  }
  .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-wrap{
    form{
      border-bottom: 1px solid var(--black-color);
      position:relative;
    }
    input{
      padding:8px 16px;
      border-radius: 0;
      background:white;
      box-shadow: none;
      line-height:1;
    }
    .btn_search{
      position:absolute;
      right:4px;
      top:3px;
      z-index:1;
      font-size:var(--font-size-04);
      background:transparent;
      border:none;
      box-shadow: none;
      padding: 4px;
      line-height:1;
    }
  }
}

/* main */
main{
  min-height:100vh;
}

/* banner */
.mainBanner {
  width: 100%;
  height: 680px;
  margin-bottom:80px;
  .swiper-button-next,
  .swiper-button-prev{
    color:var(--white-color);
    background:rgba(0,0,0,0.2);
    width:52px;
    height:52px;
    &:after{
      font-size:var(--font-size-03);
    }
  }
  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    &.slide-style01{
      height:680px;
      width:100%;
      padding:80px 0 0;
      .container{
        position:relative;
        padding-right:0;
        height:100%;
        > *{
          position:relative;
        }
        img{
          position:absolute;
          right:0;
          bottom:0;
          margin-left:auto;
          max-width:80%;
          max-height:560px;
          z-index:0;
        }
        h1{
          font-family: 'LeferiPointOblique';
          width:56%;
          font-size:54px;
          font-weight:400;
          word-break: keep-all;
        }
        .fs-txt-3{
          margin-top:30px;
          width:50%;
          word-break: keep-all;
          line-height:1.5;
        }
        a{
          position:absolute;
          left:16px;
          bottom:24px;
          font-size:24px;
        }
      }
    }
    &.slide-style02{
      display:flex;
      height:680px;
      > div{
        height:100%;
        width:50%;
        display:inline-flex;
        align-items: center;
        justify-content: center;    
        &:first-child{
          img{
            max-width: 60%;
            max-height: 76%;
          }
        }
        &:last-child{
          text-align:center;
          flex-direction: column;
          h1{
            font-size:40px;
            font-family: 'LeferiPointOblique';
          }
          p{
            margin-top:20px;
            font-size:16px; 
          }
    
          a{
            min-width:100px;
            padding:12px 20px 10px;
            margin-top:36px;
            line-height:1;
            display:inline-block;

          }
        }
      }
    }
    &.slide-style03{
      height:680px;
      width:100%;
      background-position: center center;
      background-size:cover;
      background-repeat: no-repeat;
      display:flex;
      align-items: center;
      position:relative;
    
    
      .container{
        padding-right:0;
        h1{
          font-family: 'LeferiPointOblique';
          width:56%;
          font-size:54px;
          font-weight:400;
          word-break: keep-all;
        }
        .fs-txt-3{
          margin-top:30px;
          width:50%;
          word-break: keep-all;
          line-height:1.5;
        }
        a{
          position:absolute;
          left:calc(50% - 486px);
          bottom:30px;
          font-size:24px;
        }
      }
    }
  }
  
}

      



/* list style */
.list-area{
  padding:60px 0;
  border-bottom:1px solid var(--gray-third-color);

  &:last-child{
    border-bottom:none;
  }
  h2.fs-title-3,
  p.fs-txt-3{
    text-align:center;
  }
  p.fs-txt-3{
    margin-top:8px;
  }
  
  .list{
    margin-top:40px;
  
    /* 카드형 리스트*/
    &.list-style01{
      display:flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      li{
        width:calc(33.3% - (32px / 3));
        margin-right:16px;
        &:nth-child(3n){
          margin-right:0;
        }
        .img-wrap{
          width:100%;
          max-width:100%;
          height:0;
          overflow: hidden;
          padding-bottom:100%;
          position: relative;
          margin-bottom:24px;

          img{
            object-fit: cover;
            max-width:100%;
            max-height: 100%;
            min-width: 100%;
            min-height: 100%;
            margin: auto;
            position: absolute;
            top: -100%;
            right: -100%;
            bottom: -100%;
            left: -100%;
          }
        }
        
        .fs-title-4{
          margin-bottom:8px;
          padding:0 16px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .fs-txt-4{
          padding:0 16px;
          max-height:calc(14px * 2 * 1.5);
          line-height:1.5;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 2; // 원하는 라인수
          -webkit-box-orient: vertical
        }
        .fs-txt-5{
          padding:0 16px;
          margin-top:4px;
          text-align:right;
        }
      }
    }
    
    /* 리스트형 1:1 비율*/
    &.list-style02,
    &.list-style05{
      li{
        margin-bottom:16px;
      }
      li > a{
        display:flex;
        align-items: center;
        justify-content: space-between;
        .img-wrap{
          width: 20%;
          position:relative;
          &:after{
            content: "";
            display: block;
            padding-bottom: 100%;
            width: 100%;
            height: 100%;
          }
          img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;

          }
        }
        .text-wrap{
          width:calc(80% - 16px);
          .fs-title-4{
            margin-bottom:16px
          }
          .fs-txt-4{
            max-height:calc(14px * 4 * 1.5);
            line-height:1.5;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: keep-all;
            display: -webkit-box;
            -webkit-line-clamp: 4; // 원하는 라인수
            -webkit-box-orient: vertical
          }
          .fs-txt-5{
            margin-top:8px;
          }
        }
      }
    }
    /* 왼쪽에 있는 이미지 리스트용 */
    &.list-style02,
    &.list-style03,
    &.list-style04{
      li > a{
        .img-wrap{
          margin-right:20px;
        }
      }
    }
    /* 오른쪽에 있는 이미지 리스트용 */
    &.list-style05,
    &.list-style06,
    &.list-style07{
      li > a{
        .img-wrap{
          margin-left:20px;
        }
      }
    }

    /* 3:4 비율 */
    &.list-style03,
    &.list-style06{
      li{
        margin-bottom:16px;
      }
      li > a{
        display:flex;
        align-items: center;
        justify-content: space-between;
        .img-wrap{
          width: 16%;
          position:relative;
          &:after{
            content: "";
            display: block;
            padding-bottom:133.33%;
            width: 100%;
            height: 100%;
          }
          img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;

          }
        }
        .text-wrap{
          width:calc(84% - 16px);
          .fs-title-4{
            margin-bottom:16px
          }
          .fs-txt-4{
            max-height:calc(14px * 4 * 1.5);
            line-height:1.5;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: keep-all;
            display: -webkit-box;
            -webkit-line-clamp: 4; // 원하는 라인수
            -webkit-box-orient: vertical
          }
          .fs-txt-5{
            margin-top:8px;
          }
        }
      }
    }
    /* 4:3 비율 */
    &.list-style04,
    &.list-style07{
      li{
        margin-bottom:16px;
      }
      li > a{
        display:flex;
        align-items: center;
        justify-content: space-between;
        .img-wrap{
          width: 20%;
          position:relative;
          &:after{
            content: "";
            display: block;
            padding-bottom:75%;
            width: 100%;
            height: 100%;
          }
          img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;

          }
        }
        .text-wrap{
          width:calc(80% - 16px);
          .fs-title-4{
            margin-bottom:16px
          }
          .fs-txt-4{
            max-height:calc(14px * 4 * 1.5);
            line-height:1.5;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: keep-all;
            display: -webkit-box;
            -webkit-line-clamp: 4; // 원하는 라인수
            -webkit-box-orient: vertical
          }
          .fs-txt-5{
            margin-top:8px;
          }
        }
      }
    }
    /* 이미지 리스트용 */
    &.list-style08{
      display:flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      li{
        position:relative;
        width:calc(25% - (24px / 3));
        margin-right:8px;
        &:nth-child(4n){
          margin-right:0;
        }
        &:hover{
          .text-wrap{
            opacity: 1;
            transition: opacity 0.3s;
          }
        }
        .img-wrap{
          width:100%;
          max-width:100%;
          height:0;
          overflow: hidden;
          padding-bottom:100%;
          position: relative;
          img{
            object-fit: cover;
            max-width:100%;
            max-height: 100%;
            min-width: 100%;
            min-height: 100%;
            margin: auto;
            position: absolute;
            top: -100%;
            right: -100%;
            bottom: -100%;
            left: -100%;
          }
        }
        .text-wrap{
          padding:16px;
          position:absolute;
          background:rgba(0,0,0,0.6);
          top:0;
          left:0;
          width:100%;
          height:100%;
          display:flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
        }
        
        .fs-txt-3{
          text-align:center;
          font-weight:400;
          color:var(--white-color);
        }
        
      }
    }
  }

}
/* tag*/
.tag-area{
  padding:60px 5%;
  .fs-title-3{
    margin-bottom:40px;
  }
}
.tags{
  a{
    display:inline-block;
    font-size:var(--font-size-06);
    padding:6px 8px 4px;
    background:var(--white-color);
    border:1px solid var(--black-color);
    transition: all 0.3s;
    margin-bottom:4px;
    &:hover{
      background:var(--black-color);
      color:var(--white-color);
    }
  }
}

/* aside */
.sidenav {
  box-sizing: border-box;
  height: 100%;
  width:320px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: -340px;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &.active{
    left:0px;
  }
  a {
    text-decoration: none;
    font-size: 16px;
    color: var(--text-first-color);
    display: block;
    transition: 0.3s;
    a:hover {
      color: var(--text-second-color);
    }
    img{
      display:inline;
    }
  }
  .category{
    padding-left:32px;
    .link_tit{
      font-weight:bold;
    }
  }
  .category_list{
    margin-top:8px;
    .sub_category_list{
      margin:8px 0 8px 16px;
    }
  }
  .sidebar-2{
    padding-left:32px;
    .count{
      margin-top:40px;
      .fs-title-5{
        margin-bottom:8px;
      }
    }

    .social-channel{
      margin-top:40px;
      ul{
        display:flex;
      }
      li{
        margin-right:6px;
        a{
          border:1px solid var(--black-color);
          padding:5px;
          border-radius: 50%;
          display: inline-flex;
          width:28px;
          height:28px;
          justify-content: center;
          align-items: center;
          i{
            font-size:18px;
            line-height:1;
            height:18px;
          }
          &:hover{
            background:var(--black-color);
            i{
              color:var(--white-color)
            }
          }
        }
      }
    }
  }
  .closebtn {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 36px;
  }
}

/*footer */
footer{
  padding:30px 0;
  background:var(--black-color);
  color:var(--white-color);
}
@media screen and (min-width: 761px) and (max-width: 1000px) { 
    /* banner */
  .mainBanner {
    height: 540px;
    margin-bottom:60px;
  
    .swiper-slide {
    
      &.slide-style01{
        height:540px;
        padding:60px 0 0;
        .container{
       
          img{
            max-height:460px;
          }
          h1{
            width:60%;
            font-size:36px;
          }
          .fs-txt-3{
            margin-top:24px;         
          }
          a{
            position:absolute;
            left:16px;
            bottom:24px;
            font-size:18px;
          }
        }
      }
      &.slide-style02{
        height:540px;
        > div{
          &:last-child{
            h1{
              font-size:32px;
            }
            p{
              margin-top:20px;
              font-size:16px; 
            }
      
            a{
              margin-top:32px;
            }
          }
        }
      }
      &.slide-style03{
        height:540px;    
        .container{
          h1{
            width:60%;
            font-size:36px;
          }
          .fs-txt-3{
            margin-top:24px;
          }
          a{
            position:absolute;
            left:16px;
            bottom:30px;
            font-size:18px;
          }
        }
      }
    }
    
  }
}
@media screen and (max-height: 760px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}