.d-flex{
  display:flex;
  width:100vw;
  &.no-depth{
    cursor:pointer;
    >div{
      &:hover{
        .cls-1 {
          fill: #3e3a39;
        }
      }
    }
  }
  > div{
    border:1px solid #ddd;
    text-align:center;
    flex: 1 1 auto!important;
    padding: 30px;
    box-sizing:content-box;
    
  }
}

.cls-1 {
  fill: #dbdcdc;
  transition: fill 0.3s ;

}
.cls-none {
  fill: none;

}
.depth-0{
  transition: fill 0.3s ;
  cursor:pointer;

  &:hover:not(.cls-none){
    fill:#3e3a39;
  }
  &.test1{
    fill:yellow;
  }
  &.test2{
    fill:yellowgreen;
  }
  &.test3{
    fill:green;
  }
  &.test4{
    fill:olivedrab;
  }
  &.test5{
    fill:olive;
  }
  &.test6{
    fill:darkgreen;
}
}
.depth-1 {
  transition: fill 0.3s ;
  cursor:pointer;
  &.test1{
    fill:red;
  }
  &.test2{
    fill:palevioletred;
  }
  &.test3{
    fill:blueviolet;
  }
  &:hover:not(.cls-none){
    fill:#3e3a39;
  }

}
.depth-2 {
  transition: fill 0.3s ;
  cursor:pointer;

  &.test1{
    fill:lightblue;
  }
  &.test2{
    fill:cyan;
  }
  &.test3{
    fill:blue;
  }
  &:hover:not(.cls-none){
    fill:#3e3a39;
  }

  
}
.depth-3 {
  transition: stroke 0.3s ;
  cursor:pointer;
  fill: none;
  stroke: #ccc;
  stroke-miterlimit: 10;
  stroke-width: 10px;
  &.test1{
    stroke:yellow;
  }
  &.test2{
    stroke:yellowgreen;
  }
  &.test3{
    stroke:green;
  }
  &:hover:not(.cls-none){
    stroke:#3e3a39;
  }

}